@import "_settings.scss";
body{
	font-family: 'Lato';
	color:#331A2F;
	overflow-y: hidden;
}
%container{
width:1530px;
max-width:1530px;
margin:0 auto;
}

@media(max-width:1620px){
	%container{
		max-width:92%;
	}
}
@media(max-width:992px){
	%container{
		max-width:98%;
	}
}
.wrapper{
	overflow-x:hidden;
	height:100%;
	position:relative;
}
.ellipse-left {
	position: absolute;
	top: 0;
	width:101px;
	height:585px;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg class='ellipse-left' width='101' height='585' viewBox='0 0 101 585' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cellipse rx='381' ry='381.5' transform='matrix(-1 0 0 1 -280 203.5)' fill='url(%23paint0_linear_1457_20159)' fill-opacity='0.2' /%3e%3cellipse rx='381' ry='381.5' transform='matrix(-1 0 0 1 -300 183.5)' fill='url(%23paint1_linear_1457_20159)' fill-opacity='0.8' /%3e%3cdefs%3e%3clinearGradient id='paint0_linear_1457_20159' x1='761.999' y1='72.8037' x2='-167.562' y2='165.42' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237C4EAB' /%3e%3cstop offset='1' stop-color='%23DD51D4' /%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_1457_20159' x1='761.999' y1='72.8037' x2='-167.562' y2='165.42' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237C4EAB' /%3e%3cstop offset='1' stop-color='%23DD51D4' /%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.ellipse-right {
	position: absolute;
	right: 0;
	width:41px;
	height:761px;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg class='ellipse-right' width='41' height='761' viewBox='0 0 41 761' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cellipse rx='369.794' ry='370.279' transform='matrix(-1 0 0 1 369.794 390.206)' fill='url(%23paint0_linear_1457_20162)' fill-opacity='0.2' /%3e%3cellipse rx='369.794' ry='370.279' transform='matrix(-1 0 0 1 389.206 370.794)' fill='url(%23paint1_linear_1457_20162)' fill-opacity='0.8' /%3e%3cdefs%3e%3clinearGradient id='paint0_linear_1457_20162' x1='739.588' y1='70.6624' x2='-162.634' y2='160.555' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237C4EAB' /%3e%3cstop offset='1' stop-color='%23DD51D4' /%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_1457_20162' x1='739.588' y1='70.6624' x2='-162.634' y2='160.555' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237C4EAB' /%3e%3cstop offset='1' stop-color='%23DD51D4' /%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.header{
	@extend %container;
	position:relative;
	width:100%;
	height:auto;
	&-top{
		display:flex;
		align-items: center;
		margin-top:46px;
	}	

}

.logo{
	height:80px;
	display:flex;
	&-img{
		margin-top:10px;
	}
	&-text{
	border-left:solid 1px rgba(51, 26, 47, 0.5);
	padding:13px 0 0 25px;
	margin-left:19px;
	text-align:center;
		span{
			font-family: 'Lato';
			font-size: 14px;
			line-height: 18px;
			display:block;
		}

	}
}
.header__mob-menu{
	display:none;
}
.menu {
	display: flex;
	margin-left:35px;
	&-list {
		display: flex;
	}

	&-link {
		position:relative;
		font-size: 24px;
		&:after{
			content: "";
			display: block;
			position: absolute;
			right: 0;
			bottom: -3px;
			width: 0;
			height: 2px;
			background-color: #CF51CE;
			transition: width 0.5s;
		}
		&:hover:after{
				content: "";
				width: 100%;
				display: block;
				position: absolute;
				left: 0;
				bottom: -3px;
				height: 2px;
				background-color: #CF51CE;
				transition: width 0.5s;
		}
		&:first-child {
			position: relative;
			margin-right:75px;
			
			&:before {
				content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.92254 7.53442C5.49466 8.21378 4.50428 8.21378 4.07639 7.53442L0.384211 1.6723C-0.0733378 0.945841 0.448747 -1.92373e-06 1.30729 -1.84868e-06L8.69165 -1.20312e-06C9.55019 -1.12806e-06 10.0723 0.94584 9.61472 1.6723L5.92254 7.53442Z' fill='%23331A2F' fill-opacity='0.9'/%3e%3c/svg%3e");
				position: absolute;
				right: -22.90px;
				width: 13px;
				height: 12px;
				cursor:pointer;
				transition:all 0.7s ease 0s;
			}
		}
	}
}

.call{
	margin-left:215px;
	&-icon{
		width:20px;
		height:19px;
		margin-right:5px;
		margin-top:3px;
	}
	&-text{
		font-size:24px;
	}
}

.sign{
	margin-left:91px;
	&__btn{
		width:169px;
		height:45px;
		background:#CF51CE;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		position:relative;
		&:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			background: rgba(255, 255, 255, 0.3);
			transition: all 0.6s ease;
			border-radius: 12px;
		}
		
		&:hover:before {
			height: 45px;
		}
		&-icon{
			margin-right:14px;
			width:23px;
			height:23px;
		}
		&-text{
			color:#ffffff;
			font-size:23px;
		}
	}

}


.courses {
	display:flex;
	justify-content: space-around;
	z-index:0;
	&-left {
		width:880px;
		z-index:1;
	}

	&-right {
		margin-top:80px;
		z-index:0;
	}

	display:flex;
	justify-content: space-around;
	&__title-one,&__title-two {
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		line-height: 80px;
	}

	&__title-one {
		color: #CF51CE;
		margin-right:10px;
	}

	&__price {
		display:flex;
		align-items: center;
		margin-top:22px;
	}

	&__price-icon {
		width:48px;
		height:47px;
		margin-right: 25px;
    	margin-left: -15px;
	}

	&__price-text {
		font-size: 18px;
		color: rgba(51, 26, 47, 0.8);
		margin:20px 5px 0 5px;
	}

	&__price-number {
		font-size:35px;
		color: #CF51CE;
		font-weight: 600;
		text-transform: uppercase;
		margin-top:10px;
	}

	&__info {
		width:868px;
	}

	&__info-text {
		font-size: 25px;
		color:rgba(51, 26, 47, 0.8);
		display:block;
		margin-top:15px;
	}
	&__superman-mob{
		display:none;
	}
	&__superman {
		width:620px;
		background:url("../img/superman-bg.png");
	}

	&__superman-icon {
		width:560px;
		height:560px;
		background:url("../img/superman.png");
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
}

.pagination {
	align-items: center;
	margin:66px 0 15px 0;
	z-index:1;
	&-text{
		font-size: 16px;
		line-height: 19px;
		color: rgba(51, 26, 47, 0.5);
		&:hover{
			color:#CF51CE;
		}
	}
	&-list{
		display:flex;
	}
	&-link{
		position:relative;
		margin:0 13px;
		cursor:pointer;
		display:flex;
		justify-content:flex-end;
	}
	&-link:first-child{
		margin-left:0;
		&:after{
		content:"";
		width: 10px;
		height: 1px;
		background-color: rgba(51, 26, 47,0.5);
		margin:0 -18px;
		margin-top:10px;
		position:absolute;
		}
	}
}
/*
Content
*/
.history {
	margin-top:145px;
	@extend %container;
	text-align: center;
    &__title{
		font-size:48px;
		font-weight: 700;
		line-height: 64px;
		color:#331A2F;
		display:block;
		&-mob{
			display:none;
		}
	}
	&__block-row{
		margin-top:100px;
		height:auto;
	}
	&__block {
		display:flex;
		justify-content:space-around;
	}

	&__block-img {
		width:455px;
		height:447px;
	}

	&__block-img-one {
		background:url("../img/Illustration1.png");
	}

	&__block-text {
		font-size:25px;
		line-height:40px;
		font-weight:400;
		width:750px;
		height:auto;
		display:flex;
		align-items:center;
	}

	&__block-img-two {
		background:url("../img/Illustration2.png");
		order:2;	
	}
}

/*
Footer
*/
.footer {
	margin:0 auto;
	margin-top:140px;
	margin-bottom:131px;
	text-align:center;
	@extend %container;
		&__title {
			font-weight: 700;
			font-size: 48px;
			line-height: 64px;
			color: #331A2F;
			&-border{
				border-bottom:7px solid #CF51CE;
				display:inline-block;
			}
			&:first-child{
				display:block;
			}
		}

		&__title-numb {
			color:#CF51CE;
		}

		&__info {
			display:block;
			margin-top:30px;
			&-text{
				font-weight: 400;
				font-size: 25px;
				line-height: 40px;				
				display:block;
			}
		}

		&__block-row {
			@extend %container;
			display:flex;
			justify-content:space-around;
		}

		&__block {
			width:290px;
			text-align:left;
			&-img{
				width:70px;
				height:70px;
				display:block;
				margin-left:-15px;
			}
			&-title{
				font-weight: 600;
				font-size: 24px;
				line-height:36px;
				display:block;
				color:rgba(51, 26, 47, 1);
				margin-bottom:15px;
			}
			&-text{
				font-weight: 400;
				font-size: 18px;
				line-height:28.8px;		
				color:rgba(51, 26, 47, 0.8);		
			}
		}
}




/***
**
*
Медиа
Media
*
**
***/
@media(max-width:1820px) {
	.ellipse-left{
		width:23px;
		height:337px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='337' viewBox='0 0 23 337' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cellipse rx='217.297' ry='217.582' transform='matrix(-1 0 0 1 -205.703 107.582)' fill='url(%23paint0_linear_1458_22835)' fill-opacity='0.8'/%3e%3cellipse rx='217.297' ry='217.582' transform='matrix(-1 0 0 1 -194.297 118.989)' fill='url(%23paint1_linear_1458_22835)' fill-opacity='0.2'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_1458_22835' x1='434.593' y1='41.5223' x2='-95.5661' y2='94.3444' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237C4EAB'/%3e%3cstop offset='1' stop-color='%23DD51D4'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_1458_22835' x1='434.593' y1='41.5223' x2='-95.5661' y2='94.3444' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237C4EAB'/%3e%3cstop offset='1' stop-color='%23DD51D4'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
	}
	.ellipse-right{
		display:none;
	}
}


@media(max-width:1620px) {

	.header-top {
		justify-content: space-between;
	}

	.logo,
	.menu,
	.call,
	.sign,
	.menu-link:first-child {
		margin-left: 0;
		margin-right: 0;
	}
	.menu-list{
		justify-content: space-between;
		width:300px;
	}
	.logo-img{
		width:187px;
	}

.header__bottom{
	margin-top:45px;
	&-left{
		width:711px;
		height:551px;
	}
	&-title{

	}
}
.pagination{
}

	.courses-left{
		width:750px;
	}
	.courses-right{
		margin-top:0;
	}
	.courses__info{
		width:711px;
		font-size:20px;
	}
	.courses__title-one, .courses__title-two{
		font-size:46px;
		line-height:65px;
	}

	.courses__superman {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top:80px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='458' height='417' viewBox='0 0 458 417' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg opacity='0.15'%3e%3crect width='458' height='416.085' transform='matrix(1 0 0 -1 0 416.861)' fill='url(%23pattern0)'/%3e%3crect width='458' height='416.085' transform='matrix(1 0 0 -1 0 416.861)' fill='url(%23paint0_linear_1458_23495)'/%3e%3c/g%3e%3cdefs%3e%3cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='0.128182' height='0.141095'%3e%3cuse xlink:href='%23image0_1458_23495' transform='scale(0.00267047 0.00293948)'/%3e%3c/pattern%3e%3clinearGradient id='paint0_linear_1458_23495' x1='229' y1='0' x2='229' y2='416.085' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FAFAFA' stop-opacity='0'/%3e%3cstop offset='0.447917' stop-color='%23FAFAFA'/%3e%3c/linearGradient%3e%3cimage id='image0_1458_23495' width='48' height='48' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEjSURBVHgB7dftCoIwFAbgs+qGCvpvd1BXFF5R3UH7L+QNGcupk/xqm8p2ivcBIXKMnffInEQesnOW5OVFjOy8BovdlUjpn5KY2LgOzKrkVXkRqy44F1Cn3xDbKzHhVMBH+gabLjgV0EnfYNIFawEj6RssumAtYDR9g0EXxNQNnXyzbSb0fQpZqCI93o+SIhgU4L7wwVRRCmkLmL/wwZRBCxHrLXwwdZBCNvVZQtH6lN85Zab2Eaq2xHpXSWgZSeqV7kM9Qv0/FhQSdOHG5DbqUUiUhRvCNiC/PB80XYTc3w4nish+FirTnXUvEGsHtIkuRE9fc/seGEuaQfqaUwe0XhdYpK85f5F1EmeSvjfdhaYTbPi97X81eQAAAAAAAAAA+DtvzauDFxqTUbkAAAAASUVORK5CYII='/%3e%3c/defs%3e%3c/svg%3e ");
	}
		
	.courses__superman-icon {
			width: 435px;
			height: 436px;
			background:url("../img/superman-2.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
	}
}

@media(max-width:1420px){

	.courses-left{
		width:700px;
	}
	.courses__info{
		width:711px;
		font-size:20px;
	}
	.courses__title-one, .courses__title-two{
		font-size:46px;
		line-height:65px;
	}

	.history{
		&__block-img{
			width:350px;
			height:350px;
			background-size:100% 100%;
		}
		&__block-text{
			font-size:20px;	
			width:50%;
		}
	}
	.footer__block{
		width:20%;
	}
}

@media(max-width:1280px){
	.header__bottom{
		margin-top:0;
	}
	.logo-text span{
		font-size:10px;
	}
	.menu{
		&-list{
			width:250px;
		}
		&-link{
			font-size:18px;
		}
	}
	.call{
		&-icon{
			width:15px;
			height:15px;
		}
		&-text{
			font-size:18px;
		}
}
.sign {
	&__btn {
		width: 152px;
		height: 44px;
		margin-left:20px;
		&-icon {
			width:20px;
			height:20px;
		}

		&-text {
			font-size: 18px;
		}
	}

}
.logo-img svg {
    width: 140px;
}

.logo-text {
    padding: 13px 0 0 10px;
    margin-left: 10px;
    text-align: left;
}	
.menu-link,.call-text {
    font-size: 16px;
}
.courses{
	&__title-one, &__title-two {
		font-size:38px;
	}
	&-left{
		width:50%;
	}
	&__info{
		width:100%;
	}
}

	.footer__block-img{
		width:60px;
		height:60px;
	}

	.footer__block-title{
		font-size:20px;
		line-height:30px;
	}
	.footer__block-text{
		font-size:16px;
	}
}

@media(max-width:992px){
	.header-top{
		margin-top:0;
	}
	.logo,.logo-img{
		margin-top:10px;
	}
	body.lock{
		overflow:hidden;
	}
	.ellipse-left,.menu-list,.call{
		display: none;
	}
	.header__mob-menu{
		display: block;
		color:#ffffff;
		left:-100%;
		position:fixed;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(51, 26, 47, 1);
		transition: all 0.3s ease 0s;
		z-index:2;
	}
	.header__mob-menu.active{
		left:0;
	}
	.header__mob-list{
		display:block;
		margin:100px auto;
		text-align:center;
	}
	.header__mob-link{
		margin-bottom:20px;
		font-size:30px;
		&:hover{
			color:#cacac5;
		}
	}
	.header__burger{
	display:block;
	position:relative;
	width:42px;
	height:20px;
	z-index:3;


		&:before,&:after{
			content:'';
			background-color: #CF51CE;
			position:absolute;
			width:100%;
			height:4px;
			left:0;
			transition:all 0.3s ease 0s;
		}
		& span{
			position:absolute;
			left:0;
			background-color: #CF51CE;
			width:100%;
			height:4px;
			top:8px;
			transition:all 0.3s ease 0s;
		}
		&:before{
			top:0;
		}
		&:after{
			bottom:0;
			width:80%;
			left:20%;
		}
		&.active span{
			transform: scale(0);
		}
		&.active:before{
			transform:rotate(45deg);
			top:9px;
		}
		&.active:after{
			transform:rotate(-45deg);
			bottom:8px;
			width:100%;
			left:0;
		}

	}
	.header__mob-list{
		z-index:2;
	}
	.courses{
		justify-content: flex-start;
		padding-left:20px;
		&-left{
			width:78%;
		}
		&-right{
			position:absolute;
			right:-25%;
			top:40%;
		}
		&__info{
			width:82%;
		}
	}
	.footer__block-row{
		flex-wrap:wrap;
	}
	.footer__block{
		width:34%;
	}
}
@media(max-width:820px){
	.courses{
	&__price-icon{
	margin-top:-10px;
	}
	&__price-text{
		margin:0 5px 0 5px;
	}
	&__price-number{
		font-size:25px;
		margin-top:0;
	}
	&__info-text{
		font-size:20px;
	}
}

}
@media(max-width:768px){
	.courses{
		&-left{
			width:100%;
		}
		&__info{
			width:60%;
		}
		&-right{
			right:0;
		}
		&__superman{
			background:none;
			&-icon{
				width: 410px;
				height: 410px;
				background: url("../img/superman-3.png");
				background-repeat: no-repeat;
				right: -45%;
				position:relative;
			}
		}
	}
		.history{
			&__title{
				font-size:40px;
				&-desk{
					display:none;
				}
				&-mob{
					display:block;
				}
			}
		
		&__block{
			margin-bottom:40px;
		}
		&__block-img{
			width:269px;
			height:265px;
		}
		&__block-text{
			width:60%;
		}
	}


}
@media(max-width:620px){
	.logo-text{
		display:none;
	}
	.sign__btn {
		width: 104px;
		height: 36px;
		margin-left: 0;
		&-icon{
			margin-right:8px;
			width:15px;
			height:15px;
		}
		&-text{
			font-size:15px;
		}
	}
	.header__burger{
		width:32px;
	}
	.pagination{
		margin:40px 0 40px 0;
	}
	.courses{
		&-left{
			width:60%;
		}
		&-right{
			top:10%;
		}
		&__info{
			width: 92%;
			position: absolute;
		}

		&__title-one, &__title-two{
			line-height:39px;
			font-size:26px;
		}

		&__superman-icon{
			width:245px;
			height:245px;
			background:url("../img/superman-4.png");
			background-repeat: no-repeat;
			right:-48%;
		}
	}
			.history{
			margin-top:310px;
			&__block{
				flex-wrap:wrap;
				&-img{
					&-two{
						order:0;
					}
				}
				&-text{
					margin-top:30px;
					width:98%;
				}
			}
			
		}
		.footer{
			&__title{
				font-size:30px;
				line-height:42px;	
				&-border{
					border-bottom:4px solid #CF51CE;
				}
			}
			&__info{
				width: 88%;
				margin: 30px auto;
				margin-bottom: 0;
			}
			&__block{
				width: 80%;
				margin: 0 auto;
				text-align: center;
			}
			&__block-img{
				margin:0 auto;
			}
			&__block-title{
				width: 70%;
   				margin: 0 auto;
				margin-bottom:20px;
			}
			&__block-text{
				font-size:20px;
			}
		}
}
@media(max-width:480px){
	.history{
		margin-top:400px;
	}

}
@media(max-width:380px){
	.logo-img{
		width:140px;
		margin-top:15px;
	}
	.courses{
		padding-left:17px;
	}
	.courses__title-one, .courses__title-two{
		font-size:25px;
	}
	.courses__price-number{
		font-size:17px;
	}
	.history{
		&__block-row{
			margin-top:58px;
		}
		&__title{
			font-size:24px;
			line-height: 36px;
		}
		&__block-img{
			width:269px;
			height:265px;
		}
	}

}